# Standard PureBasic Stuff
*.pb.cfg
*.pbi.cfg
*.pbf.cfg
*.exe
PureBasic_Compilation*

# Personnal Files (Cleanup needed !)
Includes/WizardMagicStuff.pb
InstallAsUserLibs.bat
changes.txt
wiki/
trash/
*.cfg
